@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:wght@900&family=Raleway:wght@300;400;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    align-items: center;
    z-index: 1000;
}

.nav__btn {
    display: none;
}

.header__name-site {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 2.2rem;
    text-decoration: none;
}

.header__navmenu {
    display: flex;
}

.header__menu-item {
    margin-right: 4rem;
}

.header__menu-item:last-child {
    margin-right: 0;
}

.header__menu-link {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color: #FFFFFF99;
    text-decoration: none;
    font-weight: 400;
}

.header__menu-link:hover {
    color: #fff;
}

.header__menu-frs {
    color: #fff;
    font-weight: 700;
}

.header__btn {
    display: block;
    cursor: pointer;
    background-color: #FFFFFF;
    border: none;
    color: #1D92FF;
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
}

.header__col {
    width: 1034px;
    height: 414px;
    background: linear-gradient(88.16deg, #222222 1.5%, #1a1a1a 82.37%);
    position: absolute;
    top: -100px;
    left: -180px;
    transform: rotate(45deg);
    z-index: -1;
}

.header__stage {
    margin-top: 19.7rem;
    margin-bottom: 5rem;
}

.stage__content {
    display: flex;
}

.stage__title {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: 400;
}

.stage__title-span {
    color: #1D92FF;
    font-weight: 700;
}

.header__subtitle {
    color: #FFFFFFB2;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.stage-btn {
    width: 14.5rem;
    margin-top: 2rem;
}

.stage__image {
    margin-left: auto;
    margin-right: 1rem;
    margin-top: -220px;
}

.main {
    background-color: #e5e5e5;
    padding-top: 10rem;
}

.main__about-us {
    display: flex;
    padding-bottom: 9.5rem;
}

.about-us__text {
    margin-left: auto;
}

.main__about-title {
    font-family: 'Raleway', sans-serif;
    font-size: 3.3rem;
    font-weight: 600;
}

.main__about-title-span {
    color: #1D92FF;
    font-weight: 700;
}

.about-us__subtext {
    color: #01070DB2;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin-top: 2rem;
}

.about-us__image {
    margin-left: 8rem;
    position: relative;
}

.about-us__numb {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 10rem;
    color: #1766af;
    position: absolute;
    top: 90px;
    left: 70px;
    background-color: #FFFFFF;
    padding: 0 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #9f9f9f;
}

.main__chat-bot {
    display: flex;
    align-items: center;
    padding-bottom: 80px;
}

.chat-bot__title {
    font-family: 'Raleway', sans-serif;
    font-size: 3.3rem;
    font-weight: 600;
}

.chat-bot__title-span {
    color: #1D92FF;
    font-weight: 700;
}

.chat-bot__subtext {
    color: #01070DB2;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin-top: 2rem;
}

.chat-bot__crit {
    margin-top: 1rem;
}

.crit__item {
    background-color: #eaeaea;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 15px 15px;
    width: 30rem;
    border-radius: 10px;
    border: 1px solid #01070D1A;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    position: relative;
    color: #01070d8e;
}

.crit__item:first-of-type {
    background-color: #f2f2f2;
    border: none;
    color: #000;
}

.crit-sortdown-1::after {
    content: "\f0dd";
    font-family: FontAwesome;
    padding-left: 171px;
    position: absolute;
    top: 10px;
}

.crit-sortdown-2::after {
    content: "\f0dd";
    font-family: FontAwesome;
    padding-left: 129px;
    position: absolute;
    top: 10px;
}

.crit-sortdown-3::after {
    content: "\f0dd";
    font-family: FontAwesome;
    padding-left: 382px;
    position: absolute;
    top: 10px;
}

.crit__title {
    color: #1d92ff;
    font-weight: 600;
}

.crit__subtext {
    padding-left: 10px;
    padding-top: 9px;
    line-height: 1.2rem;
}

.crit__title::after {
    content: "\f0de";
    font-family: FontAwesome;
    padding-left: 140px;
    position: absolute;
    top: 18px;
    color: #000;
}

.chat-bot__btn {
    display: block;
    width: 179px;
    margin-top: 2rem;
    background-color: #1D92FF;
    color: #fff;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 15px 52px;
    border-radius: 10px;
}

.chat-bot__image {
    margin-left: auto;
}

.main__telegram-channel {
    display: flex;
    align-items: center;
    padding-bottom: 100px;
}

.channel__text {
    margin-left: auto;
}

.channel__title {
    font-family: 'Raleway', sans-serif;
    font-size: 3.3rem;
    font-weight: 600;
}

.channel__title-span {
    color: #1D92FF;
    font-weight: 700;
}

.channel__subtext {
    color: #01070DB2;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin-top: 2rem;
}

.channel__subitem {
    color: #01070d6d;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.channel__subitem::before {
    content: "\f00c";
    font-family: FontAwesome;
    margin-left: -30px;
    margin-right: 10px;
}

.channel__btns {
    display: flex;
}

.channel__btn {
    display: block;
    width: 238px;
    margin-top: 2rem;
    background-color: #1D92FF;
    color: #fff;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 15px 52px;
    border-radius: 10px;
    margin-right: 25px;
}

.chatforsubs__btn {
    display: block;
    width: 348px;
    margin-top: 2rem;
    background-color: #fff;
    border: 1px solid #1D92FF;;
    color: #1D92FF;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 15px 52px;
    border-radius: 10px;
}

.footer {
    background-color: #303030;
    padding-top: 50px;
}

.container__footer {
    width: 70%;
    margin: 0 auto;
}

.footer__main {
    display: flex;
}

.footer__sitename {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 2.2rem;
    text-decoration: none;
}

.footer__sologan {
    color: #dbdbdb;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin-top: .5rem;
}

.footer__for {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
}

.footer_for-title {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin-top: .2rem;
    text-decoration: none;
    font-weight: 700;
}

.footer__for-members {
    color: #cdcdcdb2;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin-top: .8rem;
    text-decoration: none;
}

.footer__for-houses {
    color: #cdcdcdb2;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin-top: .3rem;
    text-decoration: none;
}

.footer__for-members:hover {
    color: #fff;
}

.footer__for-houses:hover {
    color: #fff;
}

.footer__hr {
    border: none;
    border-bottom: 1px solid #9f9f9f;
    margin-top: 3rem;
}

.footer_copy {
    margin-top: 60px;
    padding-bottom: 20px;
    text-align: center;
}

.copy__text {
    color: #e8e8e8;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    line-height: 1.3rem;
}

.copy__years {
    color: #e8e8e8;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin-top: 0.3rem;
}