@media (max-width: 720px) {
    .header__row {
        display: none;
    }

    .collab__imgs {
        justify-content: space-around;
    }

    .collab__aurora {
       margin-left: 0;
    }

    .error__collab {
        font-size: 20px;
        width: 90vw;
    }
    
    .collab__other {
       margin-right: 0;
    }
    
    .collab_title {
        font-size: 20px;
    }

    .aurora__img {
        width: 100px;
        border-radius: 50px;
    }
    
    .other__img {
        width: 100px;
        border-radius: 50px;
    }
}

@media (max-width: 360px) {    
    .container {
        width: 280px;
    }

    .error__collab {
        font-size: 15px;
    }
}