@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=Montserrat:wght@900&family=Poppins:wght@900&family=Raleway:wght@300;400;600;700&display=swap');

.text__container {
    width: 720px;
    margin: 0 auto;
}

.main {
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    line-height: 1.7rem;
    color: #fff;
    margin: 100px 0;
}

h1 {
    margin-top: 20px;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3rem;
}

h2 {
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
}

h3 {
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.4rem;
}

h4 {
    font-size: 1rem;
    color: darkgray;
}

p {
    margin-top: 15px;
}

a {
    color: rgb(94, 50, 176);
}

.btn-down {
    text-decoration: none;
    color: #fff;
    transition: transform .3s;
}

.btn-down::before {
    content: "\f104";
    font-family: FontAwesome;
    margin-right: 10px;
}

.bold {
    font-weight: 700;
}

.center {
    text-align: center;
}

.italic {
    font-style: italic;
}

.right {
    text-align: right;
}

ul, li {
    padding-top: 10px;
    list-style: inside;
}

li {
    padding-top: 11px;
    padding-left: 20px;
}

ol {
    padding-left: 25px;
}

.decimal {
    list-style: decimal;
    padding-top: 18px;
    padding-left: 0;
}

hr {
    border: none;
    border-bottom: 1px solid rgb(53, 53, 53);
}

.footnote {
    color: darkgray;
    padding-left: 15px;
    border-left: 2px solid darkgray;
    border-radius: 2px;
}

.warning {
    background-color: rgb(132, 95, 0);
    padding: 20px 15px;
    border-radius: 10px;
}

.underlined {
    text-decoration: underline;
}